<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolPM.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SolPM.WPF.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="LastOpenedVaultLocation" serializeAs="String">
                <value />
            </setting>
        </SolPM.WPF.Properties.Settings>
    </userSettings>
</configuration>